<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Comunicados</title>

<style>
body{
font-family:Arial;
padding:20px;
background:#f5f5f5;
}

.box{
background:white;
padding:20px;
border-radius:15px;
margin-bottom:15px;
}
</style>
</head>

<body>

<div class="box">
<h3>📢 Geral</h3>
<p>Caros trabalhadores, os payslips já estão disponíveis junto aos line managers.</p>
</div>

<div class="box">
<h3>🦺 Safety</h3>
<p>Reforçar medidas de segurança após incidente recente com equipamento.</p>
</div>

</body>
</html>