<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Menu</title>

<style>
body{
font-family:Arial;
background:#f5f5f5;
padding:20px;
}

.card{
background:white;
padding:18px;
margin:12px 0;
border-radius:12px;
text-align:center;
font-size:18px;
box-shadow:0 0 10px rgba(0,0,0,0.08);
}

a{
text-decoration:none;
color:#0d4d2c;
font-weight:bold;
}
</style>
</head>

<body>

<h2>Olá {{ user["Nome"] }}</h2>

<div class="card"><a href="/perfil">👤 Meu Perfil</a></div>
<div class="card"><a href="/ferias">🏖️ Férias e Faltas</a></div>
<div class="card"><a href="/comunicados">📢 Comunicados</a></div>
<div class="card"><a href="/rh">☎️ Contactar RH</a></div>
<div class="card"><a href="/logout">🚪 Sair</a></div>

</body>
</html>